@page "/detail/{id}"
@using System.Net
@using ASM.Share.Models.ViewModels
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime
@inject Blazored.SessionStorage.ISyncSessionStorageService sessionStorage
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject NavigationManager NavigationManager
@layout WebLayout2

<h3>CHI TIẾT ĐƠN HÀNG</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Ngày đặt</dt>
        <dd class="col-sm-10">
            @model.OrderDay
        </dd>

        <dt class="col-sm-2">Tổng tiền</dt>
        <dd class="col-sm-10">
            @model.Total
        </dd>

        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">
            @model.Status
        </dd>

        <dt class="col-sm-2">Ghi chú</dt>
        <dd class="col-sm-10">
            @model.Note
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Món ăn
                </th>
                <th>
                    Hình
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Thành tiền
                </th>
                <th>
                    Ghi chú
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listDonhang)
            {
                @if (item != null)
                {
                    <tr>
                        <td>
                            @item.MonAn.Name
                        </td>
                        <td>
                            @{
                                temp = imgUrl + item.MonAn.Picture;
                            }
                            <img src="@temp" style="width:150px" />
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Note
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-info" href="/">Trang chủ</a>
    <a class="btn" href="/History">Danh sách</a>
</div>

@code {
    [Parameter]
    public string id { get; set; }

    private string Tieude = "";
    protected string imgUrl = "";
    protected string temp = "";
    public DonHang model;
    public List<DonHangChiTiet> listDonhang = new List<DonHangChiTiet>();
    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(id) || id == "0")
        {
            NavigationManager.NavigateTo("/history", true);
        }
        else
        {
            var apiUrl = config.GetSection("API")["APIUrl"].ToString();
            imgUrl = config.GetSection("API")["ImgUrl"].ToString();
            var accessToken = sessionStorage.GetItem<string>("AccessToken");
            model = new DonHang();
            using (var client = new HttpClient())
            {
                client.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
                client.DefaultRequestHeaders.Add("Access-Control-Allow-Origin", "*");
                client.BaseAddress = new Uri(apiUrl);
                using (var response = await client.GetAsync("DonHangChiTiet/?id=" + id))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    model = JsonConvert.DeserializeObject<List<DonHang>>(apiResponse)[0];
                    listDonhang = model.DonHangChiTiets;
                }
            }
        }
    }
}
